<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missions to Mars</title>
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/marsMissions">Missions</a>
</nav>

    <h1>Missions to Mars</h1>


    <ul>

        <% space.forEach((missionN, i) => { %>
        <li class="missions">
        <a href="/marsMissions/<%= i %>"><%= missionN.name %></a>
        </li>
        <% }); %>
        
    </ul>

</body>
</html>